body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: bold;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15% 7%;
}
#title {
  background-color: #ff4c68;
  color: white;
}
.title-heading {
  line-height: 1.5;
  font-weight: 700;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone6 {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
}

/* Features */

#features{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 10% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.feature-heading {
  font-size: 1.5rem;
}
.fa-solid {
  font-size: 3rem;
  margin: 1rem;
  color: #ef8172;
}
.fa-solid:hover {
  color: #ff4c68;
}
.deskripsi-fitur {
color: #8f8f8f;
}

/* Testimonials */
#testimonials {

background-color: #ef8172;
font-family: 'Montserrat';
text-align: center;
color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

.carousel-item{
  padding: 10% 15%;
}

}
/* Press */
#press {
  text-align: center;
  background-color: #ef8172;
}

.press-image {
  width: 15%;
  padding: 3% 0 7%;
  margin: 0 2% 0;
}


/* Pricing Section */
#pricing {
padding: 100px;
text-align: center;
}

.pricing-coloumn {
  padding: 3% 2%;
}
/* CTA Section */
#cta {
  font-family: 'Montserrat';
  padding: 7% 13% 7%;
  background-color: #ff4c68;
  text-align: center;
  line-height: 1.5rem;
}
.cta-text {
font-size: 3.5rem;
color: white;
}

/* Footer Section */
#footer {
  padding: 5% 10% 3%;
  background-color: white;
  text-align: center;
  line-height: 2.5rem;
}
.icon-footer {
  margin: 10px;
  font-size: 1rem;
  color: black;
}





/* Media Querry */
@media (max-width: 1028px) {
  .iphone6 {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
  #title {
    text-align: center;
  }

  .testimonial-text {
    font-size: 2rem;

  }
}
